/* ui/css/style.css */
/* adwaita toast */
toastoverlay toast {
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 9px;
  padding: 5px;
  margin: 7px;
  font-size: 16px;
}

tooltip {
  background-color: rgba(0, 100, 0, 0.9);
  color: white;
}

label {
  font-size: 16px;
  font-family: "Ubuntu Thin";
  padding: 3px;
}

collapse-panel {
  font-size: 16px;

  font-family: "opensanslightastro", "ui/font/osla";
  /* font-family: "UbuntuThin"; */
  padding: 3px;
}

/* main panes dark background : uisetup.py : setup_grid() */
.panes {
  background-color: rgba(27, 27, 27, 1);
}

/* frame is used for visual border of pane = custom widget */
.frame {
  border-style: solid;
  border-width: 1px;
  border-color: white;
  padding: 0px;
  margin: 0px;
}

.frame-sidepane {
  border-style: solid;
  border-width: 1px;
  border-color: white;
  padding: 3px;
  margin: 0px;
}

/* event text */
.label-event {
  font-size: 16px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: dodgerblue;
}

/* selected event text */
.label-event-selected {
  font-size: 18px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: lime;
}

/* sidepane dropdown */
.dropdown label {
  font-size: 16px;
  padding: 0px;
}

/* sidepane buttons with custom icon */
.button-pane {
  background-color: transparent;
  border-color: transparent;
  margin: 0px;
  padding: 0px;
}

/* chage time top panel */
.button-change-time {
  background-color: transparent;
  border-color: transparent;
  margin: 5px;
  padding: 0px;
}

/* toggle event for selected objects (settings / objects) */
.button-event {
  background-color: transparent;
  border-color: transparent;
}

.entry-warning {
  border: 3px solid darkorange;
}

/* pane widgets */
notebook.no-border {
  border: none;
  padding: 0px;
  margin: 0px;
}

/* table / text styling */
textview text {
  background-color: rgba(27, 27, 27, 1);
}

.table-text {
  font-family: "VictorMonoLightAstro", "ui/font/victor", monospace;
  font-size: 18px;
}

.table-text-dark {
  font-family: "VictorMonoLightAstro", "ui/font/victor", monospace;
  font-size: 18px;
  color: black;
}

/* search editor */
#search {
  border: 1px solid gray;
  color: gray;
  font-family: "VictorMonoLightAstro", "ui/font/victor", monospace;
  font-size: 16px;
}

#search:focus {
  color: white;
  border-color: lime;
}
